/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Whitney", sans-serif;
  font-family: "Whitney Semibold", sans-serif;
  font-family: "Whitney Book", sans-serif;
  font-family: "Whitney Light", sans-serif;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 46px;
  line-height: 51px;
  padding-bottom: 17px;
  color: #23272a;
}

p {
  line-height: 28px;
  font-size: 18px;
  color: #23272a;
}

.contenitoreRiferimento {
  max-width: 1266px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

h3 {
  font-size: 25px;
  color: #23272a;
  font-weight: 800;
}

main h3 {
  font-size: 25px;
  color: #23272a;
  padding-bottom: 20px;
  font-weight: 700;
}

/* NAV */
nav {
  height: 70px;
  background-color: #23272a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenitoreNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex-grow: 1;
}

.menu {
  flex-grow: 2;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu ul li:not(:last-child) {
  margin-right: 10px;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.login {
  padding-right: 20px;
  text-align: right;
  flex-grow: 1;
}

/* STILI BOTTONI */
.btnOne {
  height: 35px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.btnTwo {
  height: 54px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  padding: 0 30px;
  cursor: pointer;
}

.btn-nav {
  width: 80px;
  background-color: #fff;
  color: #464646;
}

.btn-nav:hover {
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.btn-nav:active {
  transform: translateY(4px);
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.btn-headerWhite {
  background-color: #5865f2;
  color: #fff;
  margin-right: 24px;
}

.btn-headerWhite:hover {
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.btn-headerWhite:active {
  transform: translateY(4px);
}

.btn-headerDark {
  background-color: #23272a;
  color: #fff;
}

.fas.fa-long-arrow-alt-down {
  padding-right: 10px;
}

.logo {
  cursor: pointer;
}

/* HEADER */

.minHeaderImmagine img {
  width: 697px;
}

.bigHeader {
  background-color: #23272a;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.minHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 88px 0px 93px 0px;
}

.minHeader h1 {
  color: #fff;
  padding-bottom: 53px;
  font-weight: 800;
  font-size: 57px;
  line-height: 48px;
}

.minHeader_contenuto {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.minHeader p {
  color: #fff;
  line-height: 28px;
  padding-bottom: 53px;
}

/* PROPRIETA IN COMUNE ALLE SEZIONI*/

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sezione-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sezione_testo {
  width: 27%;
  padding-top: 32px;
}

/* INIZIO CARD */

main {
  padding: 130px 0px;
}

.card-uno,
.card-due,
.card-tre,
.card-quattro,
.card-cinque {
  width: 580px;
  background-color: #f6f6f6;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-uno h2 {
  font-weight: 500;
}

.card-due {
  margin-top: 140px;
}

.card-tre {
  margin-top: -120px;
}

.card-quattro {
  margin-top: 20px;
}

.card-cinque {
  margin-top: -135px;
}

.card-cinque .card-Testo {
  text-align: left;
  padding: 64px 45px;
}

.card-cinque-btn {
  padding-top: 20px;
}

.card-Testo {
  padding: 64px 0px;
  text-align: center;
}

.card-Immagine.cut img {
  width: 425px;
  height: 356px;
  object-fit: cover;
  object-position: -20% 0;
}

.card-Immagine img {
  width: 460px;
  height: 356px;
}

/* FINE CARD */

/* INIZIO FOOTER */

.footer {
  background-color: #23272a;
  padding-top: 70px;
  padding: 95px 0px 25px 0px;
}

footer h3,
h4 {
  color: #758de1;
}

.footer-uno {
  flex-grow: 2;
}

.Lingua {
  padding-top: 30px;
}

.BandieraImg {
  width: 25px;
}

.fa-solid,
.fas {
  font-size: 10px;
}

span {
  font-weight: bold;
  font-size: 11px;
  color: white;
  padding: 0px 5px;
  vertical-align: top;
}

.social {
  padding-top: 10px;
}

.social a {
  color: #fff;
  letter-spacing: 7px;
}

.footer-due {
  flex-grow: 1;
}

.box ul {
  list-style: none;
}

.box ul a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 35px;
}

.footer-tre {
  flex-grow: 1;
}

.footer-quattro {
  flex-grow: 1;
}

.footer-cinque {
  flex-grow: 1;
}

.footer-logo {
  background-color: #23272a;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 70px;
}

.contenuto-footer-logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.sezione-container-footer {
  width: 100%;
  /* background-color: #7f81ff; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 1px solid #7f81ff;
}

.logo-footer {
  padding-left: 20px;
  cursor: pointer;
}

.bottone-footer {
  padding-right: 10px;
}

.btn-footer-min {
  width: 80px;
  background-color: #8ea1e1;
  color: #ffffff;
}

.btn-footer-min:active {
  transform: translateY(4px);
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
}

.btn-footer-min:hover {
  box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
  color: #8ea1e1;
  background-color: #ffffff;
}
